{{ define "main" }}
<section class='content container'>
    {{- $banner :=  (.Resources.GetMatch (printf "%s*" .Params.banner)) -}}
    <img src='{{ ($banner.Resize "1100x").RelPermalink }}' class='animate-opacity'>
    <article class='row'>
        <div class='column column-33'>
            <h1 class='animate-right delay-1'>{{ .Title }}</h1>
            <p class='animate-right delay-2 upper'>{{ .PublishDate.Format "2 January 2006" }}</p>
        </div>
        <div class='animate-bottom delay-3 column'>
            {{ .Content }}
            {{ with .Params.authors }}
            <p><i> &mdash; {{ delimit . ", " }}</i></p>
            {{ end }}
        </div>
    </article>
    {{- with .Resources.ByType "image" -}}
    <div id='display'>
        {{- range $i, $e := where . "RelPermalink" "!=" $banner.RelPermalink -}}
        <img src='{{ ($e.Resize "1100x").Permalink }}' class='animate-bottom' style='animation-delay:{{ add 4 $i }}00ms'>{{ end }}
    </div>{{ end }}
    <div class='bar row animate-opacity'>
        <div class='column'>
            <h6>Categories</h6>
            <dl class='small'>
                {{ range .Params.categories }}<dt>{{ . }}</dt>{{ end }}
            </dl>
        </div>
        <div class='column'>
            <h6>Tags</h6>
            <dl class='small'>
                {{ range .Params.tags }}<dt>{{ . }}</dt>{{ end }}
            </dl>
        </div>
    </div>
    <hr>
</section>
{{ end }}
