:root {
    --heroheight: 78vh;
    --itemwidth: 30rem;
    --padding: 3rem;
    --sans: "Raleway", sans-serif;
    --serif: "Playfair Display", serif;}

/* --- Overriding milligram --- */

body { font-family: var(--sans), sans-serif!important;}

a,a:visited,a:hover,a:active { transition: .3s; color: inherit;}

.underline a:hover, .underline a:active { border-bottom: solid 1px black;}
.color a:hover, .color a:active { color: #aaa;}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;}

h1 { font-size: 3.6rem; color: black;}
h2 { font-size: 2.4rem;}
h3 { font-size: 2.0rem;}
h4 { font-size: 1.8rem;}
h5 { font-size: 1.6rem;}
h6 { font-size: 1.4rem;}

main { padding-top: 10.33333rem;}

/* --- General styles --- */

.bar { background-color: white; padding: var(--padding) 0;}
.content { padding-bottom: calc(2 * var(--padding));}

.light { border-top: solid 1px #f4f5f633;}
.white { color: white;}

.table-out { display: table; height: 100vh; width: 100%;}
.table-mid { display: table-row;}
.table-in { display: table-cell;}
.table-top { vertical-align: top;}
.table-middle { vertical-align: middle;}
.table-bottom { vertical-align: bottom;}

.mid { width: 100%; text-align: center;}
.right { text-align: right;}
.small { font-size: 1.3rem;}
.large { font-size: 3.6rem;}
.upper {
    font-size: 1.2rem;
    letter-spacing: .1em;
    text-transform: uppercase;}

@media(max-width:40rem) {
    .row .column.column-10,
    .row .column.column-20,
    .row .column.column-25,
    .row .column.column-33,
    .row .column.column-40,
    .row .column.column-50,
    .row .column.column-60,
    .row .column.column-75,
    .row .column.column-80,
    .row .column.column-90 {
        max-width: 100% !important;}
    .responsive.left { text-align: center;}
    .responsive.right { text-align: center;}}

#logo {
    transition: .3s;
    font-weight: bold;
    padding: 0.5em .5em;
    color: white;
    background: black;
    border: solid 1px black;}

#logo:hover {
    color: black;
    background: white;}

/* --- Header element --- */

header {
    z-index: 10;
    position: fixed; top: 0; left: 0; right: 0;
    background-color: white;
    color: lightgrey;
    font-weight: bold;
    letter-spacing: .2em;
    text-transform: uppercase;}

#hammenu {
    cursor: pointer;
    position: relative;
    height: 2.75em;
    width: 2.75em;}

#menuleft {
    position: absolute;
    top:1.5rem;
    left:0;
    right:0;
    height: 2px;
    transition: .3s;
    background: black;}

#menuright {
    position: absolute;
    bottom:1.5rem;
    left:1rem;
    right:0;
    height: 2px;
    transition: .3s;
    background: black;}

#hammenu:hover #menuright {
    right: 1rem;
    left: 0;}

.out * {
    margin-left: 1.5rem;
    margin-right: 1.5rem;}

/* --- Footer ellement --- */

footer {
    margin-top: var(--padding);
    background: white;
    width: 100%;}

/* --- Home page --- */

#hero {
    text-align: right;
    font-family: var(--serif);
    position: relative;}

#hero h1 {
    color: white;
    padding-right: var(--padding);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);}

h1 #one {
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10vw;}

h1 #two {
    text-transform: lowercase;
    font-style: italic;
    font-size: 8vw;}

#hero img {
    z-index: -1;
    position:absolute;
    top: 0; left: 0;
    height: var(--heroheight);
    width: 100%;
    object-fit: cover;}

#sitetitle { height: var(--heroheight);}

#guide {
    color:black;
    padding:3rem 0;
    width:100%;
    text-align:center;
    font-size:3.6rem;
    background: #f4f4f4;}

/* --- Gallery section --- */

#gallery { background: #f4f4f4;}

.grid {
    display: grid;
    grid-gap: var(--padding);
    grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
    justify-items: center;}

.item {
    transition: .3s;
    background: white;}

.item:hover {
    color: white;
    background: black;}

.item img {
    -webkit-transition: .3s -webkit-filter linear;
    -moz-transition: .3s -moz-filter linear;
    -moz-transition: .3s filter linear;
    -ms-transition: .3s -ms-filter linear;
    -o-transition: .3s -o-filter linear;
    transition: .3s filter linear, .3s -webkit-filter linear;}

.item:hover img {
    filter: brightness(50%);}

.item .description {
    padding: var(--padding) var(--padding) 0;
    text-align: center;}

.description * {
    max-width: var(--itemwidth);
    margin-left: auto;
    margin-right: auto;}

/* --- Article --- */

article { padding: calc(var(--padding) * 2) 0 !important;}
@media(max-width:40rem) { article { padding: var(--padding) 0 !important;}}

#display img { padding-bottom: var(--padding);}

/* --- Modal --- */
.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0,0,0,.8);
    z-index: 20;
    transition: .3s;}

.modal-bg {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    cursor: pointer;}

.modal-state {
    position: fixed;
    top: -10%; left: 0;
    opacity: 0;
    display: none;}

.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;}

.modal-state:checked + .modal .modal-content {
    top: 0;}

.modal-content {
    transition: .3s;
    position: absolute;
    top: -20%; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* padding: var(--padding); */
    background: black;}

.modal-close {
    position: absolute;
    top: calc(1 * var(--padding));
    right: calc(1 * var(--padding));
    width: 4rem;
    height: 4rem;
    cursor: pointer;}

.modal-close:after, .modal-close:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 4rem;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;}

.modal-close:hover:after, .modal-close:hover:before {
    background: #aaa;}

.modal-close:before {
    transform: rotate(-45deg);}

@media(max-width:40rem) {
    .unresponsive{ display: none !important;}}

/* --- Animation --- */

.animate-opacity { animation:opac 0.8s;animation-fill-mode:backwards;} @keyframes opac { from { opacity: 0;} to {opacity: 1;}}
.animate-left { position:relative;animation:animateleft 0.4s;animation-fill-mode:backwards } @keyframes animateleft { from { left:-300px;opacity:0;} to { left:0;opacity:1;}}
.animate-right { position:relative;animation:animateright 0.4s;animation-fill-mode:backwards;} @keyframes animateright { from { right:-300px;opacity:0;} to { right:0;opacity:1;}}
.animate-top { position:relative;animation:animatetop 0.4s;animation-fill-mode:backwards;} @keyframes animatetop { from { top:-300px;opacity:0;} to { top:0;opacity:1;}}
.animate-bottom { position:relative;animation:animatebottom 0.4s;animation-fill-mode:backwards;} @keyframes animatebottom { from { bottom:-300px;opacity:0;} to { bottom:0;opacity:1;}}

.delay-1{animation-delay:100ms}
.delay-2{animation-delay:200ms}
.delay-3{animation-delay:300ms}
.delay-4{animation-delay:400ms}
.delay-5{animation-delay:500ms}
.delay-6{animation-delay:600ms}
.delay-7{animation-delay:700ms}
.delay-8{animation-delay:800ms}
.delay-9{animation-delay:900ms}
.delay-10{animation-delay:1000ms}
.delay-11{animation-delay:1100ms}
