<footer class='bar animate-opacity'>
    <div class='container'>
        <div class='underline bar upper row'>
            <h2 style='margin-bottom:2em' class='responsive left column column-33'>
                <a href='{{ .Site.BaseURL }}'>
                    <div>Pastel</div>
                    <div>Cravings</div>
                </a>
            </h2>
            <div class='column '>
                <div class='row responsive right'>
                    <dl class='column'>
                        <dt><a href='{{ .Site.Params.social.instagram }}'>Instagram</a></dt>
                        <dt><a href='{{ .Site.Params.social.facebook }}'>Facebook</a></dt>
                    </dl>
                    <dl class='column'>
                        <dt><a href='mailto:{{ .Site.Params.social.email }}'>{{ .Site.Params.social.email }}</a></dt>
                        <dt><a href='{{ .Site.Params.source }}'>
                            {{ .Site.Copyright | safeHTML }}{{ .Site.LastChange.Format "2006" }}
                        </a></dt>
                    </dl>
                </div>
            </div>
            </div>
</footer>
