<head>
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title | default .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Params.description | default .Site.Params.description }}">
    <meta name="author" content="{{ .Params.author | default .Site.Params.author }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i|Playfair+Display:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{{ "css/milligram.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
