<header class='bar clearfix'>
    <div class='container'>
        <a href='{{ .Site.BaseURL }}'>
            <div id='logo' class='float-left'>PC</div>
        </a>
        <label for='menu' id='hammenu' class='float-right'>
            <div id='menuleft'></div>
            <div id='menuright'></div>
        </label>
        <input class='modal-state' id='menu' type='checkbox'>
        <div class='modal'>
            <label class='modal-bg' for='menu'></label>
            <div class='modal-content'>
                <label class='modal-close' for='menu'></label>
                <div class='color mid table-out'>
                    <div class='table-mid'>
                        <div class='table-in table-middle' style='height:90%'>
                            <nav class='large row'>
                                <div class='column'></div>
                                <a href='{{ .Site.BaseURL }}'>
                                    <div class='column'>Latest</div>
                                </a>
                                <div class='column unresponsive'>/</div>
                                <a href='/about'>
                                    <div class='column'>About</div>
                                </a>
                                <div class='column unresponsive'>/</div>
                                <a href='/archive'>
                                    <div class='column'>Archive</div>
                                </a>
                                <div class='column'></div>
                            </nav>
                        </div>
                    </div>
                    <div class='table-mid'>
                    <div class='table-in large out'>
                        <a href='{{ .Site.Params.social.facebook }}'>
                            <i class='fab fa-facebook-f'></i>
                        </a>
                        <a href='{{ .Site.Params.social.instagram }}'>
                            <i class='fab fa-instagram'></i>
                        </a>
                        <a href='mailto:{{ .Site.Params.social.email }}'>
                            <i class='fas fa-envelope'></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
