{{ define "main" }}
<section id='hero' class='animate-opacity'>
    {{ with (.Resources.GetMatch (printf "%s*" .Params.banner)).Resize "1920x" }}
    <img src='{{ .RelPermalink }}'>
    {{ end }}
    <div id='sitetitle' class='container table-out'>
        <h1 class='table-in table-middle'>
            <div id='one' class='animate-right delay-1'>Pastel</div>
            <div id='two' class='animate-right delay-2'>&mdash;  Cravings</div>
        </h1>
    </div>
</section>
<div id='guide'>&darr;</div>
<section id='gallery' class='content'>
    <div class='container grid'>
        {{- range $i, $e := where .Data.Pages "Type" "post" -}}
        <a href='{{ .Permalink }}' class='item animate-bottom' style='animation-delay:{{ add 2 $i }}00ms'>
            {{- with (.Resources.GetMatch (printf "%s*" $e.Params.banner)).Fill "720x960" -}}
            <img src='{{ .RelPermalink }}'>{{ end }}
            <div class='description'>
                <h2>{{ .Title }}</h2>
                <p class='upper'>{{ .PublishDate.Format "2 January 2006" }}<p>
                <p>
                    {{- if (not (isset .Params "description")) | or (eq .Params.description "") -}}
                    &mdash;
                    {{- else }}{{ .Params.description  }}{{ end -}}
                </p>
            </div>
        </a>
        {{- end -}}
    </div>
</section>
{{ end }}
